{#
/**
 * @file
 * Template for a Block component.
 *
 * Available config:
 * - html_tag: The HTML tag for the block.
 * - utility_classes: An array of utility classes.
 */
#}
{% set classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}

<section {{ attributes|without('id').addClass(classes) }}>
	{{ title_prefix }}
	{% if label %}
		<h1{{title_attributes}}>{{ label }}</h1>
	{% endif %}
	{{ title_suffix }}

	<div class="mb-3">
		{{ content.field_banner }}
	</div>
	{% if content.summary %}
		<h2>
			{{ content.summary }}
		</h2>
	{% endif %}
	{{ content.body }}

</section>
